$accentcolor: #ffcd01;
$accentcolor2: #b09c86; //#bd9f7c; // #EA4B4D;
$backgroundcolor: #2f3032;
$pageexamplecolor: #252832;
$white: #f8f7f6;

$font_1: "Open Sans", sans-serif;
$font_2: "Bebas Neue", sans-serif;
$font_3: "Anton", sans-serif;
$font_4: "Quicksand", sans-serif;
$font_5: "Poppins", Sans-serif;
$font_6: "Work Sans", sans-serif;
