$headline-padding-large: 40px 90px;
$headline-padding-medium: 30px 60px;
$headline-padding-small: 20px 40px;
$headline-padding-xsmall: 15px 20px;

$headline-height-large: 700px;
$headline-height-medium: 600px;
$headline-height-small: 500px;
$headline-height-xsmall: 400px;
$headline-height-xxsmall: 350px;

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 45px;

  @media screen and (max-width: 920px){
    margin-top: 55px;
  }

  @media screen and (min-width: 921px) and (max-width: 1499px) {
    margin-top: 50px;
  }

  @media screen and (max-width: 1500px) {
    margin-top: 45px;
  }

  .welcome-container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1400px;

    @media screen and (max-width: 1500px) {
      width: 90%;
    }

    .headline {
      background-image: url("../img/Parrot-army-drone.jpeg");
      position: relative;
      background-position: center;
      border-radius: 15px;
      padding: $headline-padding-large;
      height: 78vh;
      overflow: hidden;
      width: 100%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.25),
        0 6px 12px rgba(0, 0, 0, 0.2);

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        border-radius: 15px;
        z-index: 0;
      }

      .text-box {
        color: white;
        text-align: left;
        position: relative;
        z-index: 1;
        width: 60%;

        @media screen and (max-width: 1266px) {
          width: 70%;
        }

        @media screen and (max-width: 985px) {
          width: 80%;
        }

        @media screen and (max-width: 790px) {
          width: 90%;
        }

        h1 {
          font-family: $font_5;
          font-size: 3.2rem;
          font-weight: 700;
          letter-spacing: 2px;
          line-height: 1.2;
          padding: 20px 0px;
          color: $white;

          @media screen and (max-width: 1266px) {
            font-size: 3rem;
          }

          @media screen and (max-width: 985px) {
            font-size: 2.5rem;
          }

          @media screen and (max-width: 790px) {
            font-size: 2.3rem;
            line-height: 1.1;
          }

          @media screen and (max-width: 550px) {
            font-size: 2rem;
          }

          @media screen and (max-width: 440px) {
            font-size: 1.8rem;
          }
        }

        h2 {
          font-family: $font_6;
          font-size: 1.5rem;
          font-weight: 300;
          letter-spacing: 2px;

          @media screen and (max-width: 1266px) {
            font-size: 1.4rem;
          }

          @media screen and (max-width: 985px) {
            font-size: 1.3rem;
          }

          @media screen and (max-width: 790px) {
            font-size: 1.2rem;
          }

          @media screen and (max-width: 550px) {
            font-size: 1.1rem;
          }
        }

        button {
          background-color: $accentcolor2;
          color: $white;
          font-family: $font_6;
          font-size: 1.1rem;
          text-transform: uppercase;
          padding: 14px 40px;
          margin: 25px 0px;
          border-radius: 8px;
          font-weight: 400;
          letter-spacing: 2px;

          @media screen and (max-width: 1266px) {
            padding: 14px 35px;
            font-size: 1.05rem;
          }

          @media screen and (max-width: 985px) {
            padding: 13px 30px;
            font-size: 1rem;
          }

          @media screen and (max-width: 790px) {
            padding: 13px 25px;
            font-size: 0.9rem;
          }

          @media screen and (max-width: 550px) {
            padding: 12px 20px;
            font-size: 0.8rem;
          }
        }
      }

      @media screen and (max-width: 1266px) {
        padding: $headline-padding-medium;
        // height: $headline-height-medium;
        height: 82vh;
        max-height: 800px;
      }

      @media screen and (max-width: 1092px) {
        padding: $headline-padding-small;
        height: 82vh;
        max-height: 700px;
      }

      @media screen and (max-width: 985px) {
        padding: $headline-padding-small;
        height: 82vh;
        max-height: 670px;
      }

      @media screen and (max-width: 790px) {
        padding: $headline-padding-small;
        height: 82vh;
        max-height: 650px;
      }

      @media screen and (max-width: 550px) {
        padding: $headline-padding-xsmall;
        height: 82vh;
        max-height: 630px;
      }
    }
  }
}
