* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

:root {
  --header-height: 105px;
}
@media screen and (min-width: 921px) and (max-width: 1499px) {
  :root {
    --header-height: 85px;
  }
}
@media screen and (max-width: 920px) {
  :root {
    --header-height: 75px;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #191919;
  color: white;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: transparent;
  text-align: center;
}

main {
  margin-top: 105px;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 105px);
  scroll-snap-align: start;
}

#section2 {
  background-color: #2b2b2b;
}

#section3 {
  background-color: #3c3c3c;
}

#section4 {
  background-color: #4d4d4d;
}

#section5 {
  background-color: #3c3c3c;
}

#section6 {
  background-color: #2b2b2b;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.item .item-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  max-width: 1400px;
  align-items: center;
  max-width: 1400px;
}
.item .item-container span {
  font-family: "Work Sans", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  color: #b09c86;
  border-bottom: 1px solid #b09c86;
  width: fit-content;
}
@media screen and (max-width: 1266px) {
  .item .item-container span {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 985px) {
  .item .item-container span {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 790px) {
  .item .item-container span {
    font-size: 1rem;
  }
}
@media screen and (max-width: 550px) {
  .item .item-container span {
    font-size: 0.9rem;
  }
}
.item .item-container h1 {
  font-family: "Poppins", Sans-serif;
  font-size: 2.5rem;
  letter-spacing: 4px;
  padding-top: 10px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 1.2;
  color: #f8f7f6;
  padding-bottom: 30px;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (max-width: 1266px) {
  .item .item-container h1 {
    font-size: 2.4rem;
    padding-bottom: 25px;
  }
}
@media screen and (max-width: 985px) {
  .item .item-container h1 {
    font-size: 2.3rem;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 790px) {
  .item .item-container h1 {
    font-size: 2.1rem;
    line-height: 1.1;
    padding-bottom: 15px;
  }
}
@media screen and (max-width: 550px) {
  .item .item-container h1 {
    font-size: 1.9rem;
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 440px) {
  .item .item-container h1 {
    font-size: 1.6rem;
    padding-bottom: 10px;
  }
}
.item .item-container h3 {
  font-family: "Work Sans", sans-serif;
  font-size: 1.45rem;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1;
  padding: 20px 0px;
  color: #f8f7f6;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (max-width: 1266px) {
  .item .item-container h3 {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 985px) {
  .item .item-container h3 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 790px) {
  .item .item-container h3 {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 690px) {
  .item .item-container h3 {
    font-size: 1.1rem;
    padding: 10px 0px;
  }
}
@media screen and (max-width: 550px) {
  .item .item-container h3 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 440px) {
  .item .item-container h3 {
    font-size: 1rem;
  }
}
.item .item-container p {
  font-family: "Work Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 2;
  color: #b09c86;
}
@media screen and (max-width: 1266px) {
  .item .item-container p {
    font-size: 1.15rem;
  }
}
@media screen and (max-width: 985px) {
  .item .item-container p {
    font-size: 1.05rem;
  }
}
@media screen and (max-width: 790px) {
  .item .item-container p {
    font-size: 0.95rem;
  }
}
@media screen and (max-width: 690px) {
  .item .item-container p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 550px) {
  .item .item-container p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 440px) {
  .item .item-container p {
    font-size: 0.9rem;
  }
}

.item.show {
  opacity: 1;
  transform: translateY(0);
}

header {
  width: 100%;
  display: inline-block;
}
header .slogan {
  height: 25px;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  background-color: #b09c86;
  display: flex;
  align-items: center;
}
header .slogan .slogan-text {
  display: inline-block;
  font-family: "Poppins", Sans-serif;
  animation: scroll-right 30s linear infinite;
  color: #f8f7f6;
  width: 100%;
}
header .nav {
  width: 100%;
  display: inline-block;
  font-family: "Poppins", Sans-serif;
}
header .nav .nav-container {
  max-width: 1400px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}
header .nav .nav-container .logo {
  position: absolute;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
}
header .nav .nav-container .logo a {
  display: flex;
  align-items: center;
  color: #f8f7f6;
}
header .nav .nav-container .logo a :visited {
  color: #f8f7f6;
}
header .nav .nav-container .logo a .logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease;
}
header .nav .nav-container .logo a .logo-container:hover {
  transform: scale(0.8);
}
header .nav .nav-container .logo a .logo-container img {
  max-height: 47px;
}
header .nav .nav-container .logo a .logo-container h3 {
  font-weight: 300;
  display: flex;
  letter-spacing: 1px;
  align-items: center;
}
header .nav .nav-container .navigation {
  width: 100%;
  float: right;
  width: auto;
  padding: 0;
}
header .nav .nav-container .navigation .nav-mobile {
  display: none;
}
header .nav .nav-container .navigation .nav-items {
  display: flex;
  align-items: center;
  padding: 0;
  width: 100%;
}
header .nav .nav-container .navigation .nav-items li {
  float: left;
  position: relative;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  letter-spacing: 1px;
  cursor: pointer;
}
header .nav .nav-container .navigation .nav-items li a {
  font-family: "Poppins", Sans-serif;
  color: #f8f7f6;
  font-weight: 300;
  transition: transform 0.5s ease;
}
header .nav .nav-container .navigation .nav-items li a:hover {
  transform: scale(0.8);
}
header .nav .nav-container .navigation .nav-items li a :visited {
  color: #f8f7f6;
}

@keyframes scroll-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@media screen and (min-width: 1500px) {
  .slogan .slogan-text {
    font-size: 1rem;
  }
  .nav {
    height: 90px;
  }
  .nav .nav-container .logo {
    height: 90px;
  }
  .nav .nav-container .logo a {
    height: 90px;
  }
  .nav .nav-container .logo a .logo-container img {
    height: 47px;
  }
  .nav .nav-container .logo a .logo-container h3 {
    padding: 0 20px;
    font-size: 1.4rem;
  }
  .nav .nav-container .navigation .nav-items li {
    height: 90px;
    padding: 10px 40px;
  }
  .nav .nav-container .navigation .nav-items li a {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 921px) and (max-width: 1499px) {
  .slogan .slogan-text {
    font-size: 0.9rem;
  }
  .nav {
    height: 70px;
  }
  .nav .nav-container {
    width: 90%;
  }
  .nav .nav-container .logo {
    height: 70px;
  }
  .nav .nav-container .logo a {
    height: 70px;
  }
  .nav .nav-container .logo a .logo-container img {
    height: 37px;
  }
  .nav .nav-container .logo a .logo-container h3 {
    padding: 0 20px;
    font-size: 1.2rem;
  }
  .nav .nav-container .navigation .nav-items li {
    height: 70px;
    padding: 10px 23px;
  }
  .nav .nav-container .navigation .nav-items li a {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 920px) {
  header {
    min-width: 370px;
  }
  header .slogan .slogan-text {
    font-size: 1rem;
  }
  header .nav {
    height: 60px;
  }
  header .nav .nav-container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  header .nav .nav-container .logo {
    height: 60px;
  }
  header .nav .nav-container .logo a {
    height: 60px;
  }
  header .nav .nav-container .logo a .logo-container img {
    height: 40px;
  }
  header .nav .nav-container .logo a .logo-container h3 {
    padding: 0 15px;
    font-size: 1.1rem;
    letter-spacing: 1.1px;
  }
  header .nav .nav-container .navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  header .nav .nav-container .navigation .nav-mobile {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 60px;
    width: 60px;
    padding: 20px;
  }
  header .nav .nav-container .navigation .nav-mobile .nav-ham {
    position: absolute;
    left: 10px;
    z-index: 3000;
    cursor: pointer;
    padding: 10px 35px 10px 0px;
  }
  header .nav .nav-container .navigation .nav-mobile .nav-ham span {
    cursor: pointer;
    border-radius: 1px;
    height: 3px;
    width: 35px;
    background: #f8f7f6;
    position: absolute;
    display: block;
    content: "";
    transition: all 300ms ease-in-out;
  }
  header .nav .nav-container .navigation .nav-mobile .nav-ham span::after {
    bottom: -10px;
    cursor: pointer;
    border-radius: 1px;
    height: 3px;
    width: 35px;
    background: #f8f7f6;
    position: absolute;
    display: block;
    content: "";
    transition: all 300ms ease-in-out;
  }
  header .nav .nav-container .navigation .nav-mobile .nav-ham span::before {
    top: -10px;
    cursor: pointer;
    border-radius: 1px;
    height: 3px;
    width: 35px;
    background: #f8f7f6;
    position: absolute;
    display: block;
    content: "";
    transition: all 300ms ease-in-out;
  }
  header .nav .nav-container .navigation .nav-mobile .active span {
    background-color: transparent;
  }
  header .nav .nav-container .navigation .nav-mobile .active span::after {
    top: 0;
    transform: rotate(-45deg);
  }
  header .nav .nav-container .navigation .nav-mobile .active span::before {
    top: 0;
    transform: rotate(45deg);
  }
  header .nav .nav-container .navigation .nav-items {
    display: none !important;
  }
}
.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 45px;
}
@media screen and (max-width: 920px) {
  .welcome {
    margin-top: 55px;
  }
}
@media screen and (min-width: 921px) and (max-width: 1499px) {
  .welcome {
    margin-top: 50px;
  }
}
@media screen and (max-width: 1500px) {
  .welcome {
    margin-top: 45px;
  }
}
.welcome .welcome-container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1400px;
}
@media screen and (max-width: 1500px) {
  .welcome .welcome-container {
    width: 90%;
  }
}
.welcome .welcome-container .headline {
  background-image: url("../img/Parrot-army-drone.jpeg");
  position: relative;
  background-position: center;
  border-radius: 15px;
  padding: 40px 90px;
  height: 78vh;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.25), 0 6px 12px rgba(0, 0, 0, 0.2);
}
.welcome .welcome-container .headline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  z-index: 0;
}
.welcome .welcome-container .headline .text-box {
  color: white;
  text-align: left;
  position: relative;
  z-index: 1;
  width: 60%;
}
@media screen and (max-width: 1266px) {
  .welcome .welcome-container .headline .text-box {
    width: 70%;
  }
}
@media screen and (max-width: 985px) {
  .welcome .welcome-container .headline .text-box {
    width: 80%;
  }
}
@media screen and (max-width: 790px) {
  .welcome .welcome-container .headline .text-box {
    width: 90%;
  }
}
.welcome .welcome-container .headline .text-box h1 {
  font-family: "Poppins", Sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1.2;
  padding: 20px 0px;
  color: #f8f7f6;
}
@media screen and (max-width: 1266px) {
  .welcome .welcome-container .headline .text-box h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 985px) {
  .welcome .welcome-container .headline .text-box h1 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 790px) {
  .welcome .welcome-container .headline .text-box h1 {
    font-size: 2.3rem;
    line-height: 1.1;
  }
}
@media screen and (max-width: 550px) {
  .welcome .welcome-container .headline .text-box h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 440px) {
  .welcome .welcome-container .headline .text-box h1 {
    font-size: 1.8rem;
  }
}
.welcome .welcome-container .headline .text-box h2 {
  font-family: "Work Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 2px;
}
@media screen and (max-width: 1266px) {
  .welcome .welcome-container .headline .text-box h2 {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 985px) {
  .welcome .welcome-container .headline .text-box h2 {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 790px) {
  .welcome .welcome-container .headline .text-box h2 {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 550px) {
  .welcome .welcome-container .headline .text-box h2 {
    font-size: 1.1rem;
  }
}
.welcome .welcome-container .headline .text-box button {
  background-color: #b09c86;
  color: #f8f7f6;
  font-family: "Work Sans", sans-serif;
  font-size: 1.1rem;
  text-transform: uppercase;
  padding: 14px 40px;
  margin: 25px 0px;
  border-radius: 8px;
  font-weight: 400;
  letter-spacing: 2px;
}
@media screen and (max-width: 1266px) {
  .welcome .welcome-container .headline .text-box button {
    padding: 14px 35px;
    font-size: 1.05rem;
  }
}
@media screen and (max-width: 985px) {
  .welcome .welcome-container .headline .text-box button {
    padding: 13px 30px;
    font-size: 1rem;
  }
}
@media screen and (max-width: 790px) {
  .welcome .welcome-container .headline .text-box button {
    padding: 13px 25px;
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 550px) {
  .welcome .welcome-container .headline .text-box button {
    padding: 12px 20px;
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 1266px) {
  .welcome .welcome-container .headline {
    padding: 30px 60px;
    height: 82vh;
    max-height: 800px;
  }
}
@media screen and (max-width: 1092px) {
  .welcome .welcome-container .headline {
    padding: 20px 40px;
    height: 82vh;
    max-height: 700px;
  }
}
@media screen and (max-width: 985px) {
  .welcome .welcome-container .headline {
    padding: 20px 40px;
    height: 82vh;
    max-height: 670px;
  }
}
@media screen and (max-width: 790px) {
  .welcome .welcome-container .headline {
    padding: 20px 40px;
    height: 82vh;
    max-height: 650px;
  }
}
@media screen and (max-width: 550px) {
  .welcome .welcome-container .headline {
    padding: 15px 20px;
    height: 82vh;
    max-height: 630px;
  }
}

.about {
  display: flex;
  width: 100%;
  flex-direction: row;
}
@media screen and (max-width: 790px) {
  .about {
    flex-direction: column;
  }
}
.about .about-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 790px) {
  .about .about-text {
    width: 100%;
  }
}
.about .about-text p {
  color: #f8f7f6;
  font-size: 1.45rem;
  text-align: center;
}
@media screen and (max-width: 1266px) {
  .about .about-text p {
    font-size: 1.35rem;
  }
}
@media screen and (max-width: 985px) {
  .about .about-text p {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 790px) {
  .about .about-text p {
    font-size: 1.15rem;
  }
}
@media screen and (max-width: 690px) {
  .about .about-text p {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 550px) {
  .about .about-text p {
    font-size: 1.05rem;
  }
}
@media screen and (max-width: 440px) {
  .about .about-text p {
    font-size: 1rem;
    padding: 10px 0px;
  }
}

@media screen and (max-width: 690px) {
  .item-container {
    padding-top: 20px;
  }
}
@media screen and (max-width: 440px) {
  .item-container {
    padding-top: 40px;
  }
}

.services {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: stretch;
}
@media screen and (max-width: 690px) {
  .services {
    flex-direction: column;
  }
}
.services .service-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}
@media screen and (max-width: 1266px) {
  .services .service-item {
    padding: 20px;
  }
}
@media screen and (max-width: 985px) {
  .services .service-item {
    padding: 10px;
  }
}
@media screen and (max-width: 690px) {
  .services .service-item {
    padding: 20px;
  }
}
@media screen and (max-width: 550px) {
  .services .service-item {
    padding: 10px;
  }
}
@media screen and (max-width: 440px) {
  .services .service-item {
    padding: 10px 0px;
  }
}
.services .service-item i {
  font-size: 2.5rem;
  color: #b09c86;
  margin-bottom: 15px;
}
@media screen and (max-width: 1266px) {
  .services .service-item i {
    font-size: 2.4rem;
  }
}
@media screen and (max-width: 985px) {
  .services .service-item i {
    font-size: 2.2rem;
  }
}
@media screen and (max-width: 790px) {
  .services .service-item i {
    font-size: 2.1rem;
  }
}
@media screen and (max-width: 690px) {
  .services .service-item i {
    margin-bottom: 5px;
    font-size: 2rem;
  }
}
@media screen and (max-width: 550px) {
  .services .service-item i {
    font-size: 1.9rem;
  }
}
@media screen and (max-width: 440px) {
  .services .service-item i {
    font-size: 1.8rem;
  }
}
.services .service-item h3 {
  margin: 10px 0;
}
@media screen and (max-width: 690px) {
  .services .service-item h3 {
    padding: 0;
  }
}
.services .service-item p {
  flex: 1;
  margin: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 1.5;
  min-height: 80px;
  padding: 10px 0px;
}
@media screen and (max-width: 440px) {
  .services .service-item p {
    padding-top: 0px;
    line-height: 1.4;
    min-height: auto;
  }
}

.values-section {
  display: flex;
  flex-wrap: wrap; /* Allows wrapping on smaller screens */
  gap: 20px; /* Space between items */
  padding: 20px;
  justify-content: center;
  box-sizing: border-box; /* Include padding in width calculation */
}

.value-item {
  position: relative;
  width: calc(25% - 20px); /* Width for four items per row minus gap */
  height: 500px; /* Adjust height as needed */
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  box-sizing: border-box;
}
@media (max-width: 1200px) {
  .value-item {
    height: 300px;
  }
}
@media (max-width: 600px) {
  .value-item {
    height: 150px;
  }
}

.value-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.value-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7); /* Dark overlay */
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease;
  padding: 20px;
  box-sizing: border-box;
}

.value-description {
  display: block; /* Ensure it's a block-level element */
  text-align: center;
}

.value-title {
  position: absolute;
  bottom: 20px;
  left: 70px;
  transform: rotate(-90deg); /* Rotate title */
  transform-origin: left bottom;
  font-size: 1.5em;
  padding: 10px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 1; /* Always visible by default */
  transition: opacity 0.3s ease;
  text-transform: uppercase;
  z-index: 1; /* Ensure title is above the overlay */
}

.value-item:hover .value-image {
  opacity: 0.3; /* Darken image on hover */
}

.value-item:hover .value-overlay {
  opacity: 1; /* Show overlay on hover */
}

.value-item:hover .value-title {
  opacity: 0; /* Hide title on hover */
}

@media (max-width: 1200px) {
  .value-item {
    width: calc(50% - 20px); /* Two items per row on smaller screens */
  }
}
@media (max-width: 600px) {
  .value-item {
    width: calc(100% - 20px); /* One item per row on very small screens */
  }
}
.bg-grain::after {
  content: "";
  position: fixed;
  top: -100%;
  left: -50%;
  width: 300%;
  height: 300%;
  background-image: url("../img/graineffect.png");
  background-size: 100px 100px;
  background-repeat: repeat;
  opacity: 0.3;
  pointer-events: none;
  z-index: -1;
  animation: grain 10s steps(10) infinite;
}

@keyframes grain {
  0%, 100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}